mat-form-field {
  width: 75vmin;
  margin-top: 0.2rem;
}
mat-card-title {
  font-family: 'slimamif', 'arial', sans-serif;
  font-weight: bold;
  text-align: center;
}
mat-card {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
button {
  width: 75vmin;
}
.logo-sign-up {
  font-family: 'slimamif', 'arial', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: medium;
}
