.main-text {
  font-size: 10vmin;
  line-height: 1em;
  font-weight: bold;
}
div.text-about{
  margin: 4vmin 2vmin 1vmin 5vmin;
}
p.text {
  font-size: medium;
}
div.logo-home{
  margin: 4vmin 5vmin 1vmin 0vmin;
}
img {
  width: 75vmin;
}
a.documents {
  text-decoration: none;
  padding: 4px;
  color: white;
  background: #4E6AF9;
  border: 1px solid #4E6AF9;
  border-radius: 10px;
  margin-left: 9px;
  margin-right: 9px;
}
a.add_data {
  text-decoration: none;
  padding: 4px;
  color: white;
  background: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 9px;
  margin-right: 9px;
}
a:hover, a:active{
  border: 2px solid #4E6AF9;
  margin-left: 8px;
  margin-right: 8px;
}
