
<section fxLayout="column wrap" fxLayoutAlign="center center">

  <div class="logo-sign-in">
    Hello dear user! <img src="assets/img_sign-in.png" alt="sign-in logo"><br>
  </div>

  <mat-card fxFlex="20vmax" fxFlex.xs="100%">
    <mat-card-title>Sign in</mat-card-title>
    <form  autocomplete="off" novalidate fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginFormGroup"
           (ngSubmit)="loginProcess(loginFormGroup.value)">

      <mat-card-content fxLayoutAlign="stretch" fxLayout="column">

        <mat-form-field appearance="standard">
          <mat-label>email</mat-label>
          <input matInput placeholder="example@example.com" formControlName="email">
          <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="hasError('email', 'email')">Invalid email address</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
          <mat-error *ngIf="hasError('password', 'minlength')">
            Password should be more than 6 characters</mat-error>
          <mat-error *ngIf="hasError('password', 'maxlength')">
            Password should be less than 50 characters</mat-error>
          <button mat-icon-button matSuffix (click)="hide =! hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-flat-button type="submit" class="login" color="primary">Login</button>
        <button type="button" mat-flat-button routerLink="/sign-up">Sign up</button>
      </mat-card-actions>

    </form>
  </mat-card>
</section>
