mat-form-field{
  width: 60vmin;
  margin-top: 0.2rem;
}
mat-card-title{
  font-family: 'slimamif', 'arial', sans-serif;
  font-weight: bold;
  text-align: center;
}
mat-card{
  margin-top: 1.5rem;
}
img {
  width: 20%
}
.logo-sign-in {
  font-family: 'slimamif', 'arial', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
}
