table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
th.mat-header-cell {
  text-align: left;
}
.publishing_house_clicked:hover, .publishing_house_clicked:active{
  color: #4E6AF9;
}
a{
  text-decoration: none;
  color: black;
  font-size: medium;
}
a:hover, a:active{
  color: #4E6AF9;
}
span.title {
  font-size: x-large;
}
.move_between_pages {
  padding-top: 0.8em
}
