<mat-toolbar>
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <img src="assets/logo.png" alt="document logo">
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" >
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a class="user" routerLink="/user">{{currentUser.firstName}}</a>
        <a fxHide.xs class="logout" routerLink="" (click)="logoutProcess()">Вийти</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
