<app-layout>
  <div fxLayoutAlign="center stretch" fxLayout.xs="column">

    <div class="text-another-document">
      <h2>Обрати інший документ</h2>
      <a class="document" routerLink="/authors-certificate">Авторська довідка</a><br><br>
      <a class="active_document" routerLink="/expertise-act">Акт експертизи</a><br><br>
      <a class="document" routerLink="/">Протокол засідання експертної комісії</a>
    </div>

    <mat-vertical-stepper #stepper>

      <mat-step [stepControl]="provostFormGroup" editable>
        <form [formGroup]="provostFormGroup">
          <ng-template matStepLabel>Обрати проректора з навчальної роботи</ng-template>
          <mat-form-field>
            <mat-label>Проректор з навчальної робот</mat-label>
            <input
              matInput
              type="text"
              placeholder="Проректор..."
              required
              #provostInput
              [formControl]="provostCtrl"
              [matAutocomplete]="autoProvost"
              (keypress)="filterData(provostCtrl)">
            <mat-autocomplete
              #autoProvost="matAutocomplete"
              (optionSelected)="selected($event, 'provost')">
              <mat-option *ngFor="let provost of filteredScientists | async" [value]="provost.fullName">
                {{provost.fullName + ', ' + provost.degrees}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>Далі</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="materialsFormGroup" editable>
        <form [formGroup]="materialsFormGroup">
          <ng-template matStepLabel>Інформація щодо матеріалів</ng-template>
          <mat-form-field>
            <mat-label>Назва навчального посібника</mat-label>
            <input
              matInput
              type="text"
              formControlName="titleCtrl"
              placeholder="Назва публікації..."
              required>
          </mat-form-field>

          <div class="quantity">
            <mat-form-field class="quantity">
              <mat-label>Кількість сторінок</mat-label>
              <input
                matInput
                formControlName="numberOfPagesCtrl"
                type="number"
                min="0"
                required>
            </mat-form-field>
            <mat-form-field class="quantity">
              <mat-label>Кількість рисунків</mat-label>
              <input
                matInput
                formControlName="numberOfImagesCtrl"
                type="number"
                min="0"
                required>
            </mat-form-field>
            <mat-form-field class="quantity">
              <mat-label>Кількість таблиць</mat-label>
              <input
                matInput
                formControlName="numberOfTablesCtrl"
                type="number"
                min="0"
                required>
            </mat-form-field>
            <mat-checkbox
              [(ngModel)]="elVersion"
              [ngModelOptions]="{standalone: true}">
              Наявна електрона версія
            </mat-checkbox>
          </div>

          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button matStepperNext>Далі</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="commissionFormGroup" editable>
        <form [formGroup]="commissionFormGroup">
          <ng-template matStepLabel>Експертна комісія</ng-template>
          <div class="quantity">
            <mat-form-field class="quantity">
              <mat-label>Номер факультету експертної комісії</mat-label>
              <input
                matInput
                formControlName="facultyNumberCtrl"
                type="number"
                min="1"
                max="10"
                required>
            </mat-form-field>
            <mat-form-field class="quantity">
              <mat-label>Голова експертної комісії</mat-label>
              <input
                matInput
                [formControl]="headOfTheCommissionCtrl"
                #headOfTheCommissionInput
                type="text"
                [matAutocomplete]="autoHeadOfTheCommissionCtrl"
                placeholder="Голова експертної комісії..."
                required
                (keypress)="filterData(headOfTheCommissionCtrl)">
              <mat-autocomplete
                #autoHeadOfTheCommissionCtrl="matAutocomplete"
                (optionSelected)="selected($event, 'headOfTheCommission')">
                <mat-option
                  *ngFor="let headOfTheCommission of filteredScientists | async"
                  [value]="headOfTheCommission">
                  {{headOfTheCommission.fullName + ', ' + headOfTheCommission.degrees}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Секретар експертної комісії</mat-label>
              <input
                matInput
                type="text"
                placeholder="Секретар експертної комісії..."
                required
                #secretaryOfTheCommissionInput
                [formControl]="secretaryOfTheCommissionCtrl"
                [matAutocomplete]="autoSecretaryOfTheCommission"
                (keypress)="filterData(secretaryOfTheCommissionCtrl)">
              <mat-autocomplete
                #autoSecretaryOfTheCommission="matAutocomplete"
                (optionSelected)="selected($event, 'secretaryOfTheCommission')">
                <mat-option *ngFor="let secretaryOfTheCommission of filteredScientists | async" [value]="secretaryOfTheCommission.fullName">
                  {{secretaryOfTheCommission.fullName + ', ' + secretaryOfTheCommission.degrees}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>Члени комісії</mat-label>
            <mat-chip-list  #commissionChipList>
              <mat-chip
                *ngFor="let memberOfTheCommission of membersOfTheCommission"
                selectable removable
                (removed)="remove(memberOfTheCommission)">
                {{memberOfTheCommission.fullName + ', ' + memberOfTheCommission.degrees}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                matInput
                type="text"
                placeholder="Новий член комісії..."
                #memberOfTheCommissionInput [formControl]="memberOfTheCommissionCtrl"
                [matAutocomplete]="autoMemberOfTheCommission"
                [matChipInputFor]="commissionChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (keypress)="filterData(memberOfTheCommissionCtrl)"
                (matChipInputTokenEnd)="add($event, 'memberOfTheCommission')">
            </mat-chip-list>
            <mat-autocomplete
              #autoMemberOfTheCommission="matAutocomplete"
              (optionSelected)="selected($event, 'memberOfTheCommission')">
              <mat-option *ngFor="let memberOfTheCommission of filteredScientists | async" [value]="memberOfTheCommission">
                {{memberOfTheCommission.fullName + ', ' + memberOfTheCommission.degrees}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button matStepperNext>Далі</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="authorsFormGroup" editable>
        <form [formGroup]="authorsFormGroup">
          <ng-template matStepLabel>Додати авторів</ng-template>
          <mat-form-field>
            <mat-label>Автори</mat-label>
            <mat-chip-list  #chipList>
              <mat-chip
                *ngFor="let author of authors"
                selectable removable
                (removed)="remove(author)">
                {{author.fullName + ', ' + author.degrees}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                matInput
                type="text"
                placeholder="Новий автор..."
                #authorInput
                [formControl]="authorCtrl"
                [matAutocomplete]="autoAuthor"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (keypress)="filterData(authorCtrl)"
                (matChipInputTokenEnd)="add($event, 'authors')">
            </mat-chip-list>
            <mat-autocomplete
              #autoAuthor="matAutocomplete"
              (optionSelected)="selected($event, 'authors')">
              <mat-option *ngFor="let author of filteredScientists | async" [value]="author">
                {{author.fullName + ', ' + author.degrees}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button matStepperNext>Далі</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="chiefOfSecurityDepartmentFormGroup" editable>
        <form [formGroup]="chiefOfSecurityDepartmentFormGroup">
          <ng-template matStepLabel>Обрати начальника режимно-секретного відділу</ng-template>
          <mat-form-field>
            <mat-label>Начальник режимно-секретного відділу</mat-label>
            <input
              matInput
              type="text"
              placeholder="Проректор..."
              required
              #chiefOfSecurityDepartmentInput
              [formControl]="chiefOfSecurityDepartmentCtrl"
              [matAutocomplete]="autoChiefOfSecurityDepartment"
              (keypress)="filterData(chiefOfSecurityDepartmentCtrl)">
            <mat-autocomplete
              #autoChiefOfSecurityDepartment="matAutocomplete"
              (optionSelected)="selected($event, 'chiefOfSecurityDepartment')">
              <mat-option
                *ngFor="let chiefOfSecurityDepartment of filteredScientists | async"
                [value]="chiefOfSecurityDepartment.fullName">
                  {{chiefOfSecurityDepartment.fullName + ', ' + chiefOfSecurityDepartment.degrees}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>Далі</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="dateFormGroup" editable>
        <form [formGroup]="dateFormGroup">
          <ng-template matStepLabel>Дата підготовлення документу</ng-template>
          <mat-form-field class="date">
            <mat-label>Обрати дату</mat-label>
            <input
              matInput
              formControlName="dateCtrl"
              placeholder="mm/dd/yyyy"
              [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button matStepperNext>Далі</button>
          </div>
        </form>
      </mat-step>

      <mat-step editable="false">
        <ng-template matStepLabel>Сформувати документ</ng-template>
        <p>Чудово! Тепер можна завантажити документ.</p>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button (click)="stepper.reset()">Скинути додані дані</button>
          <button mat-button disabled>Показати документ</button>
          <button
            mat-button
            (click)="downloadExpertiseAct(
              materialsFormGroup.value,
              provostCtrl.value,
              dateFormGroup.value,
              commissionFormGroup.value,
              headOfTheCommissionCtrl.value,
              secretaryOfTheCommissionCtrl.value,
              chiefOfSecurityDepartmentCtrl.value)">
            Завантажити документ
          </button>
        </div>
      </mat-step>

    </mat-vertical-stepper>
  </div>
</app-layout>
